.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
  padding: 1rem;
  box-shadow: var(--shadow);

  span {
    color: #FFF;
    font-size: 1.5rem;
  }
}