.contentContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

    .actionText {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

.itemsList {
    //width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}