.alertContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4040;
    color: white;
    font-style: italic;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
}